{% extends 'base.html' %}

{% block body %}
    <div class="container mb-4 nav-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teams">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/players">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tactics">Tactics</a>
                </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container pb-4">
        <div class="row">
            <div class="col">
                <div class="card" id="oa">
                    <div class="card-body">
                        <h2>Overachievers:</h2>
                        <p>Teams achieving significantly above their expected points.</p>
                        {% for team in pts_outliers[0] %}
                            <p>{{team[0]}} (+{{team[1]}})</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="oa">
                    <div class="card-body">
                        <h2>Clinical:</h2>
                        <p>Teams scoring significantly more goals than expected from their chances created.</p>
                        {% for team in goals_outliers[0] %}
                            <p>{{team[0]}} (+{{team[1]}})</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="oa">
                    <div class="card-body">
                        <h2>Overachieving Defences:</h2>
                        <p>Teams conceding significantly less goals than expected from their opponents' chances created.</p>
                        {% for team in conceded_outliers[1] %}
                            <p>{{team[0]}} ({{team[1]}})</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" id="ua">
                    <div class="card-body">
                        <h2>Underachievers:</h2>
                        <p>Teams achieving significantly below their expected points.</p>
                        {% for team in pts_outliers[1] %}
                        <p>{{team[0]}} ({{team[1]}})</p>
                        {% endfor %}
                    </div>        
                </div>
            </div>
            <div class="col">
                <div class="card" id="ua">
                    <div class="card-body">
                        <h2>Wasteful:</h2>
                        <p>Teams scoring significantly less goals than expected from their chances created.</p>
                        {% for team in goals_outliers[1] %}
                            <p>{{team[0]}} ({{team[1]}})</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="ua">
                    <div class="card-body">
                        <h2>Underachieving Defences:</h2>
                        <p>Teams conceding significantly more goals than expected from their opponents' chances created.</p>
                        {% for team in conceded_outliers[0] %}
                            <p>{{team[0]}} (+{{team[1]}})</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
