{% extends 'base.html' %}

{% block body %}
    <div class="container pb-4">
        <div class="row">
            <div class="col">
                <div class="card" id="oa">
                    <div class="card-body">
                        <h2>Overachievers:</h2>
                        <p>Teams achieving significantly above their expected points.</p>
                        {% for team in pts_outliers[0] %}
                            <p>{{team[0]}} (+{{team[1]}})</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="oa">
                    <div class="card-body">
                        <h2>Clinical:</h2>
                        <p>Teams scoring more goals than expected from their chances created.</p>
                        {% for team in goals_outliers[0] %}
                            <p>{{team[0]}} (+{{team[1]}})</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" id="ua">
                    <div class="card-body">
                        <h2>Underachievers:</h2>
                        <p>Teams achieving significantly below their expected points.</p>
                        {% for team in pts_outliers[1] %}
                        <p>{{team[0]}} ({{team[1]}})</p>
                        {% endfor %}
                    </div>        
                </div>
            </div>
            <div class="col">
                <div class="card" id="ua">
                    <div class="card-body">
                        <h2>Wasteful:</h2>
                        <p>Teams scoring less goals than expected from their chances created.</p>
                        {% for team in goals_outliers[1] %}
                            <p>{{team[0]}} ({{team[1]}})</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-muted py-4">
        <div class="container">
            <p>By Charlie Jewers</p>
        </div>
    </footer>
{% endblock %}
